body {
    background-color: #2F539B;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
    color: white;
}

.titlu {
    color: #01F9C6;
    text-align: center;
}

table {
    width: 100%;
    border: 3px solid #CCFFFF;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}

.img-rotund {
    width: 500px;
    border-radius: 20px;
    opacity: 0.6;
}

img:hover {
    opacity: 1;
}

#imagini img {
    width: 400px;
    margin: 10px;
    text-align: center;
}

ul li {
    color: lightblue;
}